.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 32px auto;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgb(255, 255, 255) -0.0625rem -0.0625rem 0.0625rem, rgb(186, 190, 204) 0.0625rem 0.0625rem 0.0625rem;
    background-color: gray;
}

.mainContainer {
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    width: 360px;
    margin: 0 auto;
    box-shadow: -1px -1px 1px #fff, 1px 1px 1px #babecc;
    border-radius: 10px;
    background: #d5d6d9;

}

.containerProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 4px
}

.profileImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    background-color: black;
}

.profilePrimaryParagraf {
    color: black;
    text-shadow: 1px 1px 1px #fff;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
}

.profileSecondaryParagraf {
    font-size: 24px;
    font-weight: 400;
    color: rgb(110, 107, 107);
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
margin-right: 35px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(98, 97, 97);
}

.stats {
    font-weight: 400;
}